/* 폰트적용 시작 */
@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 400;
	src:
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2')
		format('woff2'),
		url('https//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff')
		format('woff');
}

@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 700;
	src:
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2')
		format('woff2'),
		url('https//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff')
		format('woff');
}

@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 300;
	src:
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2')
		format('woff2'),
		url('https//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff')
		format('woff');
}

html {
	font-family: 'LotteMartDream', sans-serif;
}
/* 폰트적용 끝 */


/* 노말라이즈 시작 */
body, ul, li, h1, h2, h3 {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
/* 노말라이즈 끝 */

/* 라이브러리-일반 시작 */
.flex {
  display: flex;
}

.flex-jc-c {
  justify-content: center;
}

.flex-jc-e {
  justify-content: flex-end;
}

.flex-ai-c {
  align-items: center;
}

.flex-as-c {
  align-self: center;
}

.flex-jc-sb {
  justify-content: space-between;
}

/* 성장성 부여 */
.flex-grow-1 {
  flex-grow: 1;
}

/* 성장성 부여 */
.flex-1-0-0 {
  flex: 1 0 0;
}

.padding-0-10 {
  padding-left:10px;
  padding-right:10px;
}

.con {
  margin-left: auto;
  margin-right: auto;
}

.block {
  display: block;
}

.height-100p {
  height: 100%;
}

.height-100vh {
  height: 100vh;
}

.min-height-100vh {
  min-height: 100vh;
}

.img-box > img {
  width: 100%;
  display: block;
}

.border-box {
  box-sizing: border-box;
}

.hover-link:hover{
  text-decoration:underline;
}
/* 라이브러리-일반 끝 */

/* 라이브러리-디거그 시작 */

.bg-red {
  background-color: red;
}

.bg-gold {
  background-color: gold;
}

.bg-green {
  background-color: gold;
}

.bg-blue {
  background-color: blue;
}

.red {
		color:red;
}
/* 라이브러리-디거그 끝 */


/* 커스텀 시작*/
:root {
  --site-width: 1200px;
  --mobile-top-bar__btn-toggle-side-bar__dur: 0.3s;
}

@media (max-width: 720px) {
  .visible-md-up {
    display: none !important;
  }
}

@media (min-width: 701px) {
  .visible-md-down {
    display: none !important;
  }
}

.con-min-width {
  min-width: 360px;
  padding: 0 10px;
}

.con {
  max-width: var(--site-width);
}

/* 비밀번호 경고창 시작*/
.pw-warning {
  background-color:red;
  height:50px;
}
.pw-warning span{
  font-size:2rem;
}
/* 비밀번호 경고창 끝*/

/* 바디콘텐트 시작 */
.body{
  min-height:100vh;
  display:flex;
  flex-direction:column;
}

.body>main{
  flex-grow:1;
}
/* 바디콘텐트 끝 */

/* 로고 시작 */
.logo > img {
  height: 140px;
  box-sizing: border-box;
}

.simple-logo > img {
  height:50px;
  widht:230px;
  margin:40px 0;
  box-sizing: border-box;
}
/* 로고 끝 */

/* 탑바 시작*/
.top-bar {
  height: 40px;
  border-bottom: solid 2px #dfdfdf;
  color:rgba(80,55,55);
}
/* 탑바 끝*/

/* 헤더 시작*/
.logo-bar {
  height: 150px;
}

.logo-bar__search-box {
  border: solid rgba(126, 101, 96) 1px;
  height: 40px;
  width: 400px;
  background: rgba(126, 101, 96);
}

.logo-bar__search-box > input {
  font-size: 17px;
  width: 330px;
  padding: 10px;
  border: 0px;
  outline: none;
  float: left;
}

.logo-bar__search-box > button {
  width: 50px;
  height: 100%;
  border: 0px;
  background: rgba(126, 101, 96);
  outline: none;
  float: right;
  color: white;
  font-size: 20px;
}

/* 헤더 끝*/

/* 메뉴바 시작*/
.menu-bar {
  background-color: rgba(126, 101, 96);
  color: white;
  height: 50px;
}

.menu-bar__menu-box-1 > ul > li {
  flex: 1 0 0;
}

.menu-bar__menu-box-1 > ul > li > a {
  font-weight: bold;
}

.menu-bar__menu-box-1 > ul > li:hover > a {
  background-color: rgba(113, 76, 68);
  color: white;
  text-decoration: underline;
}
/* 메뉴바 끝*/

/* 홈-로그아웃시 시작*/
.main-content{
  padding:20px 0;
}
.left-content {
  width:825px;
}
.right-content {
  width:325px;
}
.login-box{
  background-color:rgba(243,231,224,0.8);
  width:325px;
  height:150px;
  color:white;
  flex-direction:column;
}
.login-box__login{
  height:85%;
}
.login-box__login>*{
  display:flex;
  border-radius:8px;
  background-color:rgba(113,76,68);
  font-size:3rem;
  padding:10px 60px;
}
.login-box__option{
  padding:0 10px;
  color:rgba(113,76,68);
}
/* 홈-로그아웃시 끝*/

/* 홈-로그인시 시작*/
.login-box__info{
  color:rgba(113,76,68);
  padding:10px;
}

.login-box__info-nickname>span{
  font-weight:bold;
}

.login-box__info-detail{
  color:rgba(113,76,68);
  padding:10px;
  height:65px;
  width:100%;
}

.login-box__info-btn-logout{
  background-color:rgba(113,76,68);
  color:white;
  padding:5px;
  border-radius:1px;
}

.login-box__info-option{
  color:rgba(113,76,68);
  padding:0 10px;
}
.login-box__info-option>span{
  padding:0 5px;
}
/* 홈-로그인시 끝*/

/* 모바일 탑바 시작*/
:root{
  --mobile-top-bar__height:70px;
  --mobile-logo__margin:10px; 
}
.mobile-top-bar {
  height: var(--mobile-top-bar__height);
}

.mobile-logo > img {
  margin:var(--mobile-logo__margin) 0;
  width: 200px;
  box-sizing: border-box;
}

.mobile-top-bar__btn-toggle-side-bar {
  width: 25px;
  height: 25px;
  position: relative;
  margin-left: 10px;
  cursor:pointer;
}
.mobile-top-bar__btn-toggle-side-bar > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: rgba(126, 101, 96);
  transition: top var(--mobile-top-bar__btn-toggle-side-bar__dur),
    transform var(--mobile-top-bar__btn-toggle-side-bar__dur),
    opacity var(--mobile-top-bar__btn-toggle-side-bar__dur);
  border-radius: 2px;
}

.mobile-top-bar__btn-toggle-side-bar > div:nth-child(2) {
  top: 40%;
}

.mobile-top-bar__btn-toggle-side-bar > div:nth-child(3) {
  top: 80%;
}

.mobile-top-bar__btn-toggle-side-bar.active > div:nth-child(1),
.mobile-top-bar__btn-toggle-side-bar.active > div:nth-child(3) {
  top: 40%;
  transform: rotate(45deg);
}

.mobile-top-bar__btn-toggle-side-bar.active > div:nth-child(2) {
  opacity: 0;
}

.mobile-top-bar__btn-toggle-side-bar.active > div:nth-child(3) {
  transform: rotate(-45deg);
}
/* 모바일 탑바 끝*/

/* 모바일 사이드 바 시작 */
.mobile-side-bar{
  position:fixed;
  top:var( --mobile-top-bar__height);
  left:-100%;
  width:100%;
  bottom:0%;
  background:rgba(113,76,68);
  transition:left .3s;
  color:white;
  display:flex;
  align-items:center;
  padding-bottom:var( --mobile-top-bar__height);
}
.mobile-side-bar.active{
  left:0;
}
.mobile-side-bar__menu-box-1{
  width:100%;
}
.mobile-side-bar__menu-box-1>ul>li>a{
  padding:15px;
  font-size:1.3rem;
  text-align:center;
}
.mobile-side-bar__menu-box-1>ul>li:hover>a{
  background-color:rgba(126,101,96);
}

/* 모바일 사이드 바 끝 */

/* 회원가입 시작 */
.join-content>form>div{
  margin-top:10px;
}
.join-content input {
  font-size: 1.1rem;
  width: 300px;
  height: 40px;
  margin-top: 10px;
}

.join-content>form>div:first-of-type > div:last-child>input{
  width: 230px;
}
.join-content>form>div:first-of-type > div:last-child>button{
  width: 50px;
  height:45px;
  margin-top:10px;
  background-color: rgba(113, 76, 68);
  color:white;
  border-radius:3px;
}
.join-content__btn-join > input {
  font-size: 1.5rem;
  width: 308px;
  height:55px;
  background-color: rgba(113, 76, 68);
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin: 20px 0;
}
/* 회원가입 끝 */

/* 로그인 시작*/
.login-content input {
  font-size: 1.1rem;
  width: 300px;
  height: 40px;
  margin-top: 10px;
}

.login-content__btn-login > input {
  font-size: 1.5rem;
  width: 308px;
  height:55px;
  background-color: rgba(113, 76, 68);
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}

.login-content__check-auto-login {
  height: 35px;
  border-bottom: solid #afafaf 1px;
}

.login-content__check-auto-login > input {
  width: 16px;
  height: 16px;
}
.login-content__check-auto-login > span {
  font-size: 17px;
  color: #afafaf;
}

.login-content__option {
  height: 35px;
}
.login-content__option > * {
  color: #afafaf;
}
.login-content__option > .txt-bar {
  margin: 0 10px;
}

/* 로그인 끝*/

/*타이틀 시작*/
.title-bar {
  margin-top: 30px;
  margin-bottom: 20px;
}
/*타이틀 끝*/

/* 게시물 리스트- PC 시작*/
.article-list-box > .con > table {
  margin-top: 10px;
  border-top: 3px solid black;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.article-list-box > .con > table > thead > tr > th {
  text-align: left;
}

.article-list-box > .con > table th,
.article-list-box > .con > table td {
  padding: 20px 0;
}

.article-list-box > .con > table tr {
  border-bottom: 1px solid #dfdfdf;
}

.article-list-box__title {
  display: block;
}

.article-list-box__title--pc{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* 게시물 리스트- PC 끝*/

/* 게시물 리스트- MOBILE시작*/
@media (max-width: 700px) {
  .article-list-box > .con > table > thead,
  .article-list-box > .con > table > tbody > tr > td:not(.visible-md-down) {
    display: none;
  }
  .article-list-box > .con > table > colgroup > col {
    width: auto;
  }
  .article-list-box > .con > table > colgroup > col:first-child {
    width: 100% !important;
  }
  
  .article-list-box__id--mobile {
    background-color:rgba(126, 101, 96);
    color:white;
    font-weight:bold;
    padding:0 7px;
    border-radius:10px;
    align-self:flex-start;
  }
  
  .article-list-box__title--mobile {
    margin-left:5px;
  }
  
  .article-list-box>.con>table>tbody>tr>td.visible-md-down>.flex:nth-child(2){
    margin-top:10px;
  }
  .article-list-box>.con>table>tbody>tr>td.visible-md-down>.flex:nth-child(2)>span:nth-child(2){
    margin:0 5px;
  }
}

/* 게시물 리스트- MOBILE 끝*/

/* 게시물 버튼박스 시작 */
.article-btn-box > .con{
  padding-top:10px;
}
/* 게시물 버튼박스 끝 */


/* 버튼 시작 */
.btn{
  font-size:1rem;
  line-height:1rem;
  padding: 10px 15px 7px 15px;
  display:inline-flex;
  font-weight:bold;
  border-radius:10px;
  outline:0;
  border:0;
  cursor:pointer;
  background-color:rgba(126, 101, 96);
  color:white;
  text-shadow:1px 1px 20px #000000;
  text-decoration:none;
  box-sizing:border-box;
  justify-content:center;
  text-align:center;
}
/* 버튼 끝*/

/* 버튼랩 시작*/
@media(min-width: 701px){
  .btn-wrap{
    display:flex;
  }
  
  .btn-wrap > .btn+ .btn {
    margin-left:10px;
  }
}

@media(max-width: 700px){
  .btn {
    display:block;
    width:100%;
    border-radius:4px;
  }
  .btn-wrap>.btn+.btn{
    margin-top:10px;
  }
}
/* 버튼랩 끝*/

/* 폼박스 시작 */
.form-box>form{
  display:block;
  width:100%;
}

.form-box>form>table{
  border-top:3px solid black;
  width:100%;
  border-collapse:collapse;
}

.form-box>form>table>tbody>tr>th{
  text-align:left;
}
  .form-box>form>table>tbody>tr>th,
  .form-box>form>table>tbody>tr>td{
    padding:10px 0;
  }
.form-box>form>table>tbody>tr>td>div>input[type="text"],
.form-box>form>table>tbody>tr>td>div>input[type="password"]{
  display:block;
  width:100%;
  box-sizing:border-box;
  padding:10px;
}

@media(max-width:700px){
  .form-box>form>table>tbody>tr,
  .form-box>form>table>tbody>tr>th,
  .form-box>form>table>tbody>tr>td{
    display:block;
  }
  .form-box>form>table>tbody>tr{
    border-bottom:1px solid #dfdfdf;
  }
}
/* 폼박스 끝 */

/* 게시물 페이지 버튼 시작 */
.article-page-menu{
  margin-top:20px;
}
.article-page-menu>ul>li>a{
  padding:7px;
}

.article-page-menu>ul>li:not(:first-child):not(:last-child)>a{
  border:1px solid transparent;
  display:flex;
  padding-left:0;
  padding-right:0;
  min-width:30px;
  justify-content:center;
}
.article-page-menu > ul > li:not(:first-child):not(:last-child):hover > a {
  border-color:#afafaf;
}

/* 게시물 페이지 버튼 끝 */

/* 게시물 검색 시작 */
.article-search-box{
	margin-bottom:10px;
}
/* 게시물 검색 끝 */

/* 상세페이지 시작 */
.article-detail-box__info{
  font-size:1.1rem;
  padding:10px 0;
  border-bottom:solid 3px black;
}


.article-detail-box__info>div>div{
  margin-right:5px;
}

.article-detail-box__body{
  padding:20px 0;
}

.article-detail-box__bottom{
  border-top:solid 3px black;
  padding:10px 0;
}

.article-detail-box__bottom>a{
  padding-left:10px;
}
/* 상세페이지 끝 */

/* 글작성 시작 */
.article-write-box>.con{
  padding:10px 0;
  border-top:3px solid black;
}

.article-write-box__title>*{
  padding:10px 0;
  margin-right:10px;
}

.article-write-box__title>div{
  width:100%;
}
.article-write-box__title>div:first-child{
  width:40px;
}

.article-write-box__title>div:nth-child(2)>input{
  border:solid 2px #afafaf;
  width:100%;
  box-sizing:border-box;
}

.article-write-box__body>*{
  margin-bottom:10px;
}

.article-write-box__bottom>*{
  margin-right:10px;
}

/* 글작성 끝 */

/* 회원정보수정 시작 */
.modify-content>form>div{
  margin-top:10px;
}
.modify-content input {
  font-size: 1.1rem;
  width: 300px;
  height: 40px;
  margin-top: 10px;
}

.modify-content__btn-join > input {
  font-size: 1.5rem;
  width: 308px;
  height:55px;
  background-color: rgba(113, 76, 68);
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin:20px 0;
}
/* 회원정보수정 끝 */

/* 아이디/비밀번호 찾기 시작 */
.find-content>form>div{
  margin-top:10px;
}
.find-content input {
  font-size: 1.1rem;
  width: 300px;
  height: 40px;
  margin-top: 10px;
}

.find-content__btn-join > input {
  font-size: 1.5rem;
  width: 308px;
  height:55px;
  background-color: rgba(113, 76, 68);
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin:20px 0;
}
/* 아이디/비밀번호 찾기 끝 */

/*하단바 시작*/
.bottom-bar>div{
  height: 50px;
  border-top:solid rgba(113, 76, 68);
}
/*하단바 끝*/

/* 커스텀 끝*/
